.region_container{
    display: flex;
    flex-direction: column;

    &__search{
        display: flex;
        width: 100%;
        height: 3rem;
        border-radius: 1rem;
        margin-bottom: 2rem;
    }

    &__search-text{
        width: 55%;
        margin-right: 1rem;
        
        & > input{
            border: 1px solid #ccc;
            border-radius: 1rem;
            width: 100%;
            height: 100%;
            padding-left: 0.8rem;
            padding-right: 0.8rem;
            text-decoration: none;
            outline: none;
        }
    }

    &__search-button{
        cursor: pointer;
        margin-left: 1.5rem;
        height: 3.6rem;
        width: 3.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        color: grey;

        &:active{
            color: rgb(85, 85, 85);
            transform: scale(0.9);
        }
    }
}

.calendario{
    border: none;
    background-color: rgb(226, 226, 226);
    border-radius: 1rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;

    & > div{
        border: none;
    }
}
