.sports-container{
    margin: 1rem 0 1rem 0;
    padding: 0 2rem 0 2rem;
    color: black;
    width: 33.33%;

    &__title{
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
        color: #ED0C00;
    }
    
    &:not(:last-child){
        border-right: 2px solid black;
    }

    &__topics{
        padding-bottom: 0.5rem;
        margin-bottom: 1rem;

        &:not(:last-child){
            border-bottom: 1px solid #ccc;
        }

        &__title{
            text-decoration: none;
            display: block;
            color: black;
            font-weight: 600;
            font-size: 1.35rem;
            margin-bottom: 0.5rem;

            &:hover{
                text-decoration: underline;
            }
        }

        &__paragraph{
            font-size: 1.1rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            height: 1.5rem;
        }

        &__related{
            flex-wrap: wrap;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            & > span{
                margin-bottom: 0.5rem;
                margin-top: 0.5rem;
                font-size: 1.05rem;
                color:olive;
                display: inline-block;
                text-align: center;
            }
        }

        
    }
}